<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Catégoriesn Enregistrées</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% include 'header.html' %}

    <div class="container">
      <h1>Liste des catégories</h1>

      <table id="table-categories">
        <thead>
            <tr>
                <th>Nom de la catégorie</th>
                <th>Supprimer une catégorie</th>
            </tr>
        </thead>

        <tbody>
          {% for c in categorisation %}
            <tr>
              <td>{{ c['nom_categories'] }}</td>
              <td>
                <form method="POST" action="/supprimer_categorie/{{ c['id'] }}"onsubmit="return confirm('Confirmer la suppression ?');">
                  <button type="submit" class="danger">X</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
     
 <tr>
    <th>Ajouter une catégorie</th>
</tr>
     
      <tbody>
  <tr>
    <td>
    <form method="POST" action="/ajouter_categorie">
       <input type="text" name="enregistrement_categorie" placeholder="Nom de la catégorie" required>
          <button type="submit">Ajouter</button>
      </form>    
    </td>

  </tr>
</tbody>

<tfoot>

</tfoot>

    </div>

    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='categorisation.js') }}"></script>
  </body>
</html>
