<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Factures enregistrées</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
        <h1>Liste des factures</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom entreprise</th>
                <th>Numéro client</th>
                <th>Numéro facture</th>
                <th>Date facture</th>
                <th>Échéance</th>
                <th>TVA</th>
                <th>Total TTC</th>
                <th>Somme finale</th>
                <th>Payée ?</th>
                <th>Fichier</th>
                <th>Actions</th>
            </tr>
            {% for f in factures %}
            <tr>
                <td>{{ f[0] }}</td>
                <td>{{ f[1] }}</td>
                <td>{{ f[9] }}</td>
                <td>{{ f[3] }}</td>
                <td>{{ f[2] }}</td>
                <td>{{ f[10] }}</td>
                <td>{{ f[5] }}</td>
                <td>{{ f[4] }}</td>
                <td>{{ f[11] }}</td>
                <td>
                    <form action="{{ url_for('toggle_payee', facture_id=f[0]) }}" method="post">
                        <input type="checkbox" name="payee" {% if f[7] %}checked{% endif %} onchange="this.form.submit()">
                    </form>
                  </td>
                <td>
                    {% if f[6] %}
                        <a href="{{ url_for('telecharger_fichier', filename=f[6]) }}" target="_blank" title="Télécharger">
                            📎
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <form method="POST" action="/supprimer/{{ f[0] }}" onsubmit="return confirm('Confirmer la suppression ?');">
                        <button type="submit" class="danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <form method="POST" action="/supprimer_tout" onsubmit="return confirm('Supprimer toutes les factures ?');">
            <button type="submit" class="danger full">🗑️ Supprimer toutes les factures</button>
        </form>

        <div style="text-align:center">
            <a class="button" href="/">⬅ Retour à l'accueil</a>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2025 FactuPro — Tous droits réservés</p>
    </footer>
</body>
</html>
