<!DOCTYPE html>
<html lang="fr">
<head>
    
    <meta charset="UTF-8">
    <title>Paramètres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <h1>Paramètres</h1>
    <p>Dans cette section, vous pouvez ajouter des catégories pour organiser vos factures.</p>
 
<table id = "categories-table">
    <thead>
<tr>
    <th>Ajouter une catégorie</th>
    <th>Catégories</th>
    <th>Choix de la couleur</th>
</tr>
<tr>
    <th>
        
            <input type="text" id="new_category1" required maxlength="50" placeholder="Nouvelle catégorie">
        
    </th>
    
    <th>
        <span id="cat1_preview" class="error-message"></span>
    </th>

    <th>
            <select id="color_select1">
            <option value="">Choisir une couleur</option>
            <option value="red">Rouge</option>
            <option value="blue">Bleu</option>
            <option value="green">Vert</option>
            <option value="orange">Orange</option>
            <option value="purple">Violet</option>
            <option value="brown">Marron</option>
            <option value="pink">Rose</option>
            <option value="yellow">Jaune</option>
            <option value="cyan">Cyan</option>
            <option value="black">Noir</option>
        </select>
        </th>
</tr>    
    </thead>
</table>


    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='parametres.js') }}"></script>

</body>
</html>