<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <title>Paramètres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <h1>Paramètres</h1>
    <button class="btn-retour" onclick="history.back()">Retour</button>
    <p>Dans cette section, vous pouvez ajouter des catégories pour organiser vos factures.</p>

<table id = "categories-table">
    <thead>
<tr>
    <th>Ajouter une catégorie</th>
</tr>
    </thead>
 <tbody>
  <tr>
    <td>
      <input type="text" class="category-input" placeholder="Catégorie" maxlength="50">
    </td>
  </tr>
</tbody>

<tfoot>
  <tr>
    <td colspan="4" style="text-align:right;">
      <button id="save-categories-btn">Enregistrer</button>
    </td>
  </tr>
</tfoot>

</table>

<br>
<br>
<br>

    {% include 'footer.html' %}

<script src="{{ url_for('static', filename='parametres.js') }}"></script>

</body>
</html>
