<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription - FactuPro</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="register-page">
<div class="register-wrapper">
    <img src="/static/logo.png" alt="FactuPro" style="height: 200px; margin-bottom: 15px;">
    <h1>Inscription gratuite</h1>
    <p class="subtext">FactuPro est un outil gratuit et il le restera toujours.<br>C’est promis !</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="register-box">
        <form method="POST">
            <input type="text" name="nom" placeholder="Nom" required>
            <input type="text" name="prenom" placeholder="Prénom" required>
            <input type="number" name="age" placeholder="Âge" required>
            <input type="text" name="secteur" placeholder="Secteur d'activité" required>
            <input type="email" name="email" placeholder="Adresse email" required>
            <input type="text" name="pseudo" placeholder="Pseudo" required>
            <input type="password" name="mot_de_passe" placeholder="Mot de passe" required>
            <button type="submit">Créer un compte</button>
        </form>
    </div>

    <p class="footer-note">
        La société FactuPro collecte ces informations afin de créer votre compte et de vous permettre d’utiliser la plateforme. En savoir plus sur la gestion des données personnelles ? <a href="#">politique de confidentialité</a>
    </p>

    <div class="switch">
        <p>Vous avez déjà un compte ? <a href="/login">Connectez-vous</a></p>
    </div>
</div>
</body>
</html>
